@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glass-container {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(10px);
  width: 500px;
  height:500px;
}

.card {
  width: 254px;
  height: 190px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  margin: 15px;
}

.card__content {
  background: rgb(255, 255, 255);
  border-radius: 17px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 17px;

}
